@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
body, input, button, textarea, select {
    font-family: 'Plus Jakarta Sans', sans-serif;
}
html {
    scroll-behavior: smooth;
}

.w1440 {
    max-width: 1440px;
    margin: 0 auto;
    background-color: #EFF0F3;
}

section {
    scroll-margin-top: 100px;
}

/*----------Header----------*/
header {
    width: 100%;
    height: 86px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #EFF0F3;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.logo {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 45px;
    color: #001858;
    margin: 26px 300px 15px 95px;
}

.logo span {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #6246EA;
}

/*----------Nav----------*/
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

.navbar a {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    text-transform: capitalize;
    color: #2B2C34;
}

.search-logo {
    width: 17px;
    height: 17px;
    margin-right: 10px;
}

/*----------Button-----------*/
.button-BMaC {
    width: 213px;
    height: 44px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    background: #6246EA;
    border-radius: 4px;
    transition: background-color 1s ease, transform 1s ease;
    padding: 10px 17px;
    margin: 22px 95px 20px 50px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFE;
}

.button-BMaC:hover {
    background-color: #7158f3;
    transform: translateY(-5px);
}

.button-BMaC:active {
    transform: translateY(0);
}

/*----------Main-----------*/
.hero {
    height: 900px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 185px 116px 284px 95px;
    gap: 30px;
}

.hero-content h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 81px;
    text-transform: capitalize;
    color: #2B2C34;
}

.hero-content p {
    width: 652px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #9A9494;
    border-left: 3px solid #2B2C34;
    padding-left: 12px;
}

.hero-image {
    width: 470px;
    height: 387px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 164px 95px 263px 0;
}

.subscribe-form {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
}

.subscribe-form input {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 21px 0 21px 25px;
    width: 444px;
    height: 67px;
    background: #FFFFFE;
    border-radius: 8px;
}

.subscribe-form input::placeholder {
    color: #C0C0C0;
    font-size: 20px;
    opacity: 1;
}

.subscribe-form button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 23px 19px;
    width: 145px;
    height: 67px;
    background: #6246EA;
    border-radius: 8px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    text-transform: capitalize;
    color: #FFFFFE;
}

/*----------Category----------*/
.category {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.categories-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 67px 94px 50px 94px;
}

.categories-header h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-transform: capitalize;
    color: #2B2C34;
}

.categories-header a {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    text-align: right;
    text-transform: capitalize;
    color: #2B2C34;
}

.categories-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 37px;
    margin: 0 94px 68px 94px;
}

.card {
    width: 220px;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    filter: drop-shadow(4px 6px 13px rgba(215, 215, 215, 0.25));
    border-radius: 8px;
    background: #FFFFFE;
    padding-left: 30px;
    gap: 30px;
    transition: background-color 1s ease, transform 1s ease;
}

.card h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-transform: capitalize;
    color: #2B2C34;
    transition: color 1s ease;
}

.card-icon {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFE;
    border-radius: 8px;

}

.card:hover {
    filter: drop-shadow(4px 6px 13px rgba(215, 215, 215, 0.25));
    background-color: #6246EA;
}

.card:hover h3 {
    color: #FFFFFE;
}

/*--------Articles fell----------*/
.articles-feed {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFFFFE;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.articles-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 80px 94px 30px 94px;
}

.articles-header h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-transform: capitalize;
    color: #2B2C34;
}

.articles-header a {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    text-align: right;
    text-transform: capitalize;
    color: #2B2C34;
}

.articles-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    margin: 0 96px;
}

.post-card {
    height: 425px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: #FFFFFE;
    border-radius: 12px;
    transition: transform 0.3s ease;
}

.post-card:hover {
    transform: translateY(-8px);
    cursor: pointer;
}

.post-image img {
    width: 100%;
    height: 198px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 25px;
}

.post-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.post-content h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    text-transform: capitalize;
    color: #2B2C34;

}

.post-author {
    display: flex;
    align-items: center;
    gap: 15px;
}

.avatar {
    width: 57px;
    height: 57px;
    border-radius: 50%;
}

.author-info span {
    display: block;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #2B2C34;
}

.author-info small {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #2B2C34;
}

/*----------More Articles-----------*/

.more-articles-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.more-articles-button {
    width: 165px;
    height: 64px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 23px 19px;
    gap: 10px;
    background: #6246EA;
    border-radius: 8px;

    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    text-transform: capitalize;
    color: #FFFFFE;
    margin: 80px 0;
}

.more-articles-button:hover {
    background-color: #4b35c2;
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(98, 70, 234, 0.2);
}

/*-----------Newsletter-----------*/
.newsletter {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 58px 372px;
}

.newsletter-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.newsletter-icon-box {
    width: 130px;
    height: 130px;
    background-color: #FFFFFE;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.03);
}

.newsletter-container h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    text-transform: capitalize;
    color: #2B2C34;
    margin-bottom: 10px;
}

.newsletter-container p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #C0C0C0;
    margin-bottom: 30px;
}

.newsletter-form {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 58px;
}

.newsletter-form input {
    width: 444px;
    height: 67px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 21px 200px 21px 25px;
    background: #FFFFFE;
    border-radius: 8px;
    border: 1px solid #EAEAEA;

    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #C0C0C0;
}
.newsletter-form input::placeholder {
    color: #C0C0C0;
    opacity: 0.9;
    font-size: 20px;
}
.newsletter-form button {
    width: 145px;
    height: 67px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 23px 19px;
    background: #6246EA;
    border-radius: 8px;

    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    text-transform: capitalize;
    color: #FFFFFE;
}

/*----------Fotter-----------*/
footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 70px 95px 263px 94px;
    background: #E4E5E9;

}
.footer-top{
        display: flex;
        justify-content: space-between;
        margin-bottom: 60px;
}
